/* ==========================================================================
   trutz skin
   ========================================================================== */

/* Colors */
$background-color: #ffffff !default;
$text-color: #463f3a !default;
$primary-color: #ff4d00 !default;
$link-color: $primary-color !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
$serif: "Source Serif Pro", serif !default;
$sans-serif: "Source Sans Pro", sans-serif !default;
$monospace: "Source Code Pro", monospace !default;

/* Syntax highlighting (base16) */
$base00: #463f3a !default;
