/* ==========================================================================
   trutz skin
   ========================================================================== */

/* Colors */
$background-color: #ffffff !default;
$text-color: #463f3a !default;
$primary-color: #ff4d00 !default;
$link-color: $primary-color !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;